@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
@import url('https://db.onlinewebfonts.com/c/00264b8ae38cd52fbeccb71c85b34f55?family=AcuminProCond-Black');
.mr-st{margin-top: 0px;}
.mr-t{margin-top: 30px;}
.mr-b{margin-bottom: 15px;}
.flex{display: flex;}
.column{flex-direction: column;}
.space{justify-content: space-between;}
.align-center{align-items: center;}
.just-center{justify-content: center;}
.fff{color: #fff;}
.slide-txt-wrap{overflow: unset;}

.about-partnership{position: relative;}
.about .logo-ani-box{background-color: inherit !important;-webkit-animation: logo-set 10s infinite;animation: logo-set 1000s infinite;-webkit-animation-play-state: running;animation-play-state: running;-webkit-animation-timing-function: linear;animation-timing-function: linear; position: absolute;left: 0;top: 0;  height: 100%;}
.about .logo-ani-wrap1 .logo-ani-box{align-items: center;}
.about .logo-ani-wrap{position: relative; overflow: hidden;display: flex;   flex-direction: column;justify-content: flex-start ;height: 100vh;}  
@keyframes logo-set{
    0%{transform: translateX(0);}
    100%{transform: translateX(-100%);}
}

.logo-ani-box li{font-size: 190px;  white-space: nowrap;font-family: 'Pretendard';  font-weight: 500; color: #D90916;padding: 15px 0; font-weight: 800;}

.loading {z-index: 1111111;animation-name: loadingView; animation-delay: 3s; animation-duration:0.5s;animation-fill-mode: forwards;}
.about .logo-ani-wrap{position: relative; overflow: hidden;display: flex;   flex-direction: column;justify-content: center;height: 100vh;}
.about .logo-ani-wrap1{justify-content: flex-end;transition: 0.3s;}
.logo-ani-wrap1{animation-name: loadingNone; animation-delay: 3s; animation-duration:0.3s; animation-fill-mode: forwards;}
.about .logo-ani-wrap2{ justify-content: flex-start;}
.loading.show .typing-txt, .loading.show .typing , .loading.show .about .logo-ani-wrap1{display: none !important;}
.visual_line{position: absolute; bottom: 30px; left: 0; color: red; display: flex; width: 100%;}  
 .about-real, .about-partnership , .about-article{height: 100%;}

 .line{content: "";width: 80%;height: 3px;display: block;background-color: red;margin-top: auto;animation-name: loadingLine;animation-duration:5s;animation-duration: leaner;animation-direction:alternate;animation-fill-mode: forwards;}
  

  .visual_line_txt{white-space: nowrap; font-size: 30px; font-family: 'Pretendard';  font-weight: 700; margin-right: 30px; letter-spacing: -1px; }
  @keyframes loadingNone{
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }
  @keyframes loadingView{
    0%{
      height: 100%;
    }
    100%{
      height: 0%;

    }
  }

   @keyframes loadingLine {
  0% {
    width: 0;
  }
  5% {
    width: 2%;
  }
  15% {
    width: 2%;
  }

  20% {
    width: 4%;
  }
  21% {
    width: 4%;
  }

  
  100% {
    width: 80%;
  }


  100% {
    width: 80%;
  }
}  
  .visual-vid video{width: 100%;}

  .infinite_rotating_logo{
    animation: rotate_image 10s linear infinite;
    transform-origin: 50% 50%;
}
.infinite_rotating_logo img{ max-width: 180px;}
 
@keyframes rotate_image{
	100% {
    	transform: rotate(360deg);
    }
}


p.typing-txt{
  display: none;
  position: absolute; bottom: 3%; left: 0;
}

.typing {  
  z-index: 1;
  color: #fff;
  font-size: 52px;
  position: absolute; bottom: 3%; left: 2%;
  color: #D90916;
  font-family: 'Pretendard';
 } 


 
.time_wrap{display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300vh;
  z-index: 2;
  font-family: 'Pretendard'; 
  
}
.time_img img  {max-width:250px}
.time_wrap .bg_tit{    position: sticky;
  
  top: 0;
  height: 100vh;
  padding: 50px 50px;
  
}
.Fjalla {
  line-height: 1.4;
  padding-top: 200px;
  margin-top: 0;
  font-size: 8.8vw;
  font-weight: 800;
  letter-spacing: -4.8px;
  line-height:1.1;
  color: #E20623;
  text-align: center;
  
}
.time_box{top: -650px;
  position: relative;
  display: flex;
  justify-content: center;
  flex: 1;
  width: 95%;
  overflow: hidden;
}
.time_img img{max-width: 500px; width: 100%}
.time_img{margin: 0 2%;}
.timeBox_1{    top: calc(100px * 0);
  left: calc(15% * 0 + 20px);
}
.timeBox_2{
  top: calc(100px * 0);
  left: calc(15% * 1 + 20px);

}
.timeBox_3{    top: calc(100px * 0);
  left: calc(15% * 2 + 20px);
}


/*! sec03  */
.sec03-wrap{ background-color: #000; height: 100%;  box-sizing: border-box;position: sticky;top: 0;}
.sec03-box{display: flex; padding: 0 40px;}
.sec03-box video{width: 100%;}
.sec03-box01 .sec03-vid, .sec03-box01 .sec03-info{padding-top: 100px;}
.sec03-box02 .sec03-vid, .sec03-box02 .sec03-info{padding-bottom: 100px;}
.sec03-vid{width: 25%;}
 .sec03-info{width: 75%;}
 .sec03-info-tit, .sec03-info-txt{padding: 40px;}
 .sec03-info-tit h2{font-size: 180px; font-weight: 600; }
.sec03-info-txt p{font-size: 28px; line-height: 1.3;}
.sec03-info {display: flex; flex-direction: column;  color: #fff; font-family: 'Pretendard'; justify-content: flex-end;}

 .sec03-box01{border-bottom: 1px solid #fff;}
 .sec03-box01 .sec03-vid{border-right: 1px solid #fff;}
 .sec03-info-txt{border-top: 1px solid #fff;}


 .sec03-box02 .sec03-vid{border-left: 1px solid #fff;}
 .sec03-info-tit{display: flex; align-items: end;}
 .sec03-info-tit img{width: 100%;}
 .tit-img{margin: 0 0 30px 20px ;}

 @media(max-width:768px){
  .sec03-box{flex-direction: column; padding: 0 20px;}
  .sec03-info, .sec03-vid{width: 100%;}
  .sec03-info-tit h2{font-size: 60px; margin-bottom: 10px;}
  .sec03-info-txt p{font-size: 14px;}
  .sec03-info-tit{flex-direction: column; align-items: flex-start;}
  .tit-img{margin: 0;}
  .sec03-info-tit, .sec03-info-txt{padding: 15px;}
  .sec03-info-txt{border-top: none;}
  .sec03-info-tit img{width: 50%;}
  .sec03-box02 .sec03-info {padding-bottom: 0;}
  .sec03-box02{flex-direction: column-reverse;}
  .sec03-box02 .sec03-vid{border-left: none;}
   .sec03-box01 .sec03-info{padding-top: 20px;}
   .sec03-box02 .sec03-vid{padding-bottom: 20px;}
   .sec03-box01{margin-bottom: 50px;}
 }


 /*! juice */
 .juice-wrap{overflow-x: hidden;}
 .juice-wrap img{width: 100%;  }
 .juice-wrap .product-wrap{display: flex; height: 100vh; width: 100vw; overflow: hidden;}
 .juice-wrap .product_nosugar {width: 50%;}
 .juice-wrap .product_nosugar .product_nosugar_content{position: absolute; left: 50%; transform: translateX(-50%); bottom: 12%; color: #db0000; display: flex; flex-direction: column; align-items: center; width: 100%; justify-content: center; margin-bottom: 15px;}
 .juice-wrap .product_nosugar .product_nosugar_content h2{  font-family: "acumin-pro-extra-condensed", sans-serif;font-weight: 700;font-style: normal; font-size: 88px; font-weight: 500; color: #db0000; line-height: 0.85;}
 .juice-wrap .product_nosugar_img{position: relative; }
 .juice-wrap .product_nosugar .product_nosugar_content button{background-color:#db0000; border: 1px solid #db0000; outline: none; color: #000; border-radius: 20px; padding: 7px 20px; font-weight: 1000; font-family: 'Pretendard'; transition: 0.3s; font-size: 16px; }
 .juice-wrap .product_nosugar .product_nosugar_content button:hover{background-color:#fff ;border: 1px solid #db0000; color: #db0000;}
 .juice-wrap .product_nosugar .product_nosugar_content .produce-name{margin:5px 0 25px 0;font-weight: 500; font-family: 'Pretendard'; letter-spacing: 1px;}
 .juice-wrap .product_nosugar .product_nosugar_content p {font-family: 'Pretendard';}
 .juice-wrap .product_nosugar .product_nosugar_content p

 /*!footer */
 .footer{background-color: #e7e7e7; }
 .footer-logo{text-align: center; border-bottom: 1px solid #333; padding:60px 0 30px 0;}
 .footer_info , .footer_txt{display: flex; }
 .footer_info{justify-content: space-between; font-family: 'Pretendard'; padding: 30px;} 

 /*! about */
 .about-wrap{background-color: #000;}
 .about-wrap img{ width: 100vw; height: 100vh; }
 .about-wrap .about-visual-img{width: 100vw; height: 100vh; overflow-y: hidden;}
 .about-wrap .about-visual-img video{width: 100%;}
 .about-wrap .about-con-video  img{width: 100%;}
 .about-wrap .about-con-box{display: flex;}
 .about-wrap .about-con-box02{flex-direction: row-reverse;}
 .about-wrap .about-con-box02 .about-con-video{width: 60%;}
 .about-wrap .about-con-box02 .about-con-txt{text-align: right;}
 .about-wrap .about-con-box .about-con-txt{color: #D90916; display: flex;flex-direction: column; justify-content: flex-end; padding: 40px;}
 .about-wrap .about-con-box .about-con-txt span{font-size: 40px;font-family: "AcuminProCond-Black"; letter-spacing: -1px;}
 .about-wrap .about-con-box .about-con-txt h1{font-size: 88px; font-weight: 500; font-family: "AcuminProCond-Black";letter-spacing: -2px;  line-height: 0.85;margin-left: -5px; }
 .about-wrap .about-con-box .about-con-txt p {font-size: 24px; line-height: 1.3; font-family: 'Pretendard'; font-weight: 500;}
 .about-wrap .about-con-box .about-con-txt p:first-child{margin-top: 30px; ;}

.about-visual-img{position: relative;}
 .about-visual-txt {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; z-index: 1;}
 .about-visual-txt {font-family: 'Pretendard'; font-size: 96px; color: #D90916; line-height: 1.3; font-weight: 800; text-align: center; letter-spacing: -2px;}
 .bg{position: absolute;
  width: 100%;
  left: 100%;
  left: 0;
  top: 0;
  height: 100%; }
  
  .about-flower{padding: 100px 0;}
  .about-flower-cont{display: flex; align-items: center; justify-content: space-between; color: #db0000;  padding: 40px;}
  .about-flower-cont-1 span{font-size: 40px;font-family: "AcuminProCond-Black"; }
  .about-flower-cont-1 h1{ font-size: 48px; font-family: 'Pretendard'; font-weight: 900;}
  .about-flower-cont-2 p {text-align: right; font-size: 20px;  font-family: 'Pretendard'; font-weight: 500; line-height: 1.3;}

  